.comment{
    display: flex;
    width: 300px;
    max-height: 350px;
    transform: scale(.9);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
    border: 2px solid #ffff;
}
.comment:hover{
    box-shadow: 0 0 15px #fd9d5b !important;
}

.commentContainer{
    /* background: linear-gradient(90deg,#ffffff, #ffffff00,#ffffff); */
    width: 100%;
    min-height: 500px;
    margin: 100px auto;
    position: relative;
    padding-top: 10px;
}

.commentWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

