

.certificate{
    width: 400px;
    height: 310px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.477);
    cursor: pointer;
}

.certificateWrapper{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 70px ;
    gap: 20px;
    overflow: hidden;
}
.certificate:hover .imageCertificate{
    top: 35px;
    transition: .1s ease all;
}

.certificate:hover{
    box-shadow: 0 0 10px aquamarine;
}

.imageCertificate{
    top: 0;
    width: 100%;
    height: 100%;
    transition: .1s ease all;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.showmore{
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px ;
    font-weight: 900;
    width: 100%;
    padding: 5px;
    position: absolute;
    z-index: 0;
    text-decoration: none;
}