.footerContainer{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
}

.footertop{
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerbottom{
    margin: auto;
    width: 80%;
    height: 20%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lindLists{
    width: 30%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul_footer_link{
    list-style: none;
    padding: 10px;
}