.footerContainer{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin-top: 100px;
}
.footerContainer::before{
    contain: '';
    border-top-right-radius: 10px;
}

.footertop{
    width: 100%;
    height: 80%;
    gap: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.footerbottom{
    margin: auto;
    width: 80%;
    padding: 10px 0px;
}

.lindLists{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;

}
.lindLists>li{
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}
.lindLists>li:hover{
   box-shadow: inset 0 0 10px aqua;
}

.text-foote-top{
    width:50vw;    
    min-width: 300px;
    text-align:center;
    height: fit-content;
    font-size:20px;
    padding: 20px;
}

@media screen and (max-width: 500px){
    .lindLists{
        flex-direction: row !important;
        flex-wrap: wrap;
    }
}